.wrapper{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.text{
    text-align: center;
    h5{
        font-size: 16px;
        background: linear-gradient(1deg, #0CBAF1, #E95CE9); // 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h1{
        color: white;
    }
}


.img{
    img{
        width: 100%;
    }
}